.App {
  display: flex;
}

.App {
  margin-top: 2rem;
  justify-content: center;
  background-color: #f5f5f5;
  color: #353955;
  padding: 2rem;
}

.btn {
  border: none;
  outline: none;
  background: #353955;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #434b5d;
}