.board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    margin-top: 20px;
    border: 1px solid black;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    background-color: #d8baa0;
}

.square.black {
    background-color: #8b4513;
}

.square.white {
    background-color: #d8baa0;
}

.piece {
    display: flex;
    align-items: center;
    justify-content: center;
}